form {

    width: 445px;
    .form__email, .form__name, .form__message {

        label{
            color: var(--light-grey);

            svg {
                display: none;
            }
        }

        input, textarea {
            color: var(--white);
            background-color: var(--transparent);
            border: none;
            border-bottom: 0.5px solid var(--light-grey);
        }

        input:focus, textarea:focus {
            background-color: var(--transparent);
            border: none;
            border-bottom: 0.5px solid var(--turquoise);
        }

    }

    .btn--portfolio {
        text-align: right;
    }
}

