<div class="project">
	<img onmouseover= "showButtons()" onmouseout="hideButtons()"
  src="placeholder.jpg"
  alt="Placeholder"
  data-lfr-editable-id="img1"
  data-lfr-editable-type="image">
	<div class="div__buttons">
		<button class="btn">
			<strong>VIEW PROJECT</strong>
		</button>
		<button class="btn">
			<strong>VIEW CODE</strong>
		</button>
	</div>
	<div class=div__information>
		<p class="p--title"
			 data-lfr-editable-id="text-field1" 
		 	 data-lfr-editable-type="text">
			Project title
		</p>
		<p class="p--languages"
			 data-lfr-editable-id="text-field2" 
		 	 data-lfr-editable-type="text">
			Languages used
		</p>
	</div>
</div>