.portlet-decorate .portlet-content {
    background-color: var(--transparent);
    
    .img--icon {
        margin-left: 30px;
    }
    
    .Github {
        content: url('../images/icon-github.svg');
    }
    
    .FrontendMentor {
        content: url('../images/icon-frontend-mentor.svg');
    }
    
    .LinkedIn {
        content: url('../images/icon-linkedin.svg');
    }
    
    .Twitter {
        content: url('../images/icon-twitter.svg');
    }
}

.header__navbar {
    z-index: 1;
    position: absolute;
    margin:auto;
}

.footer__navbar {
    border-top: 0.5px solid var(--light-grey);
}