.div__skills {
    border-top: 0.5px solid var(--light-grey);
}

.div__outer-skills {
    background-image: url("../images/pattern-rings.svg");
    background-repeat:no-repeat;
    background-position: right bottom 80px;
}